@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Ubuntu+Mono&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f3f4f7;
  font-family: "Roboto Mono", monospace;
}

h1 {
  color: #ea4335;
  font-size: 3rem;
}
h2 {
  margin: 10px 0px 10px;
  font-size: 3rem;
  color: #4285f4;
}
h3 {
  color: #595959;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.3rem;
  font-weight: 600;
  color: #4285f4;
  padding: 8px;
}

p span {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 400;
  color: #2e2d2d;
}

.wrapper {
  width: 768px;
  text-align: center;
  margin: 0 auto;
}

input,
#btn {
  margin: 20px;
  font-size: 16px;
  text-align: center;
  width: 350px;
  height: 45px;
}

#btn {
  margin: 20px;
  padding: 0px;
  border: none;
  background-color: #ea4335;
  color: white;
  font-family: "Roboto Mono";
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 800;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
